.header__content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  background-color: #352f2f;
  svg {
    cursor: pointer;
  }
  .header__content__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
