.loader {
  background-color: white;
  width: rem(288px);
  height: rem(292px);
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: $loader-color-container;
  border-radius: rem(10px);
  padding: 0.5rem;
  box-shadow: 0 -2px 14px 0 $dark-500;
  &__content {
    padding: 0.5rem;
    & > * {
      border-radius: rem(4px);
      @include loaderEffect();
    }
  }

  &__img {
    width: 100%;
    height: 150px;
    border-radius: rem(10px);
    margin-bottom: rem(11px);
  }
  &__title,
  &__comments,
  &__direction,
  &__phone {
    width: 100px;
    height: 19px;
    margin-bottom: 0.5rem;
  }
  &__title {
    width: 150px;
  }
  &__direction {
    width: 130px;
  }
  &__phone {
    width: 110px;
  }
}
.business__loader__container {
  background-color: $dark-600;
  padding-top: 2rem;
  @include fromQuery(x-small) {
    --height: 665px;
  }
  @include fromQuery(medium) {
    --height: 895px;
  }
  @include fromQuery(large) {
    --height: 359px;
  }
  height: var(--height);
}
.business__loader {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
  @include fromQuery(large) {
    grid-template-columns: 1fr 1fr;
  }
  column-gap: 2rem;
  & > * {
    border-radius: rem(4px);
    @include loaderEffect();
  }
  .business__loader__info,
  .business__loader__image {
    width: 100%;
    height: 280px;
  }
}
@keyframes bgPos {
  0% {
    background-position: -280px 0;
  }
  100% {
    background-position: 280px 0;
  }
}
