.container {
  width: 100%;
  max-width: $container-max-width;
  padding: 0 $spacing-s;
  margin-left: auto;
  margin-right: auto;
  @include fromQuery(medium) {
    padding: 0 $spacing-m;
  }
  @include fromQuery(x-large) {
    padding: 0 $spacing-l;
  }
}
.title {
  font-size: $large;
  @include fromQuery(medium) {
    font-size: $biggest;
  }
  color: white;
  margin-bottom: 1rem;
}
.paragraph {
  font-size: $normal;
  @include fromQuery(medium) {
    font-size: $large;
  }
  color: white;
  margin-bottom: 2rem;
}
