// Colors
$main-color: #ea0e1c;
$complementary: #ea5d0e;
$bg-color: #f5f5f5;
$neutral-light: #ffff;
$dark-100: rgba(#2b2f3d, 0.9);
$dark-200: rgba(#2b2f3d, 0.4);
$dark-300: rgba(#352f2f, 0.5);
$dark-400: #352f2f;
$dark-500: rgba(#150d0d, 0.1);
$dark-600: #393333;
$card-text: #8f8b8b;
$card-text-second: #716e6e;
$loader-color-100: #6f727a;
$loader-color-200: #888b94;
$loader-color-container: #ffff;

//Family
$cabin-family: 'Cabin', sans-serif;
$roboto-family: 'Roboto', sans-serif;

// Font sizes
$biggest: 2.75rem;
$big: 2.5rem;
$large: 2rem;
$medium: 1.5rem;
$normal: 1rem;
$small: 0.875rem;
$smaller: 0.8125rem;
$smallest: 0.75rem;

//Container spacings
$spacing-s: 1rem;
$spacing-m: 2rem;
$spacing-l: 7.5rem;
$container-max-width: 1200px;
